/* Colors */
:root {
  --color-text: rgb(28 28 28);
  --color-text-secondary: rgb(28 28 28 / 0.8);
  --color-text-link: #0b4654;
  --color-bg: #f0f0f0;
  --color-bg-card: #ffffff;

  @media (prefers-color-scheme: dark) {
    --color-text: rgb(246 246 243);
    --color-text-secondary: rgb(246 246 243 / 0.8);
    --color-text-link: #87e1fa;
    --color-bg: #1c1c1c;
    --color-bg-card: #242424;
  }

  /* Spacing */
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  /* Sizes */
  --size-h1: 28px;
  --size-h2: 24px;
  --size-h3: 20px;
  --size-h4: 18px;
  --size-h5: 17px;
  --size-h6: 16px;

  /* Height */
  --height-caption-header: calc(var(--size-h1) + var(--spacing-s) * 2);
}
